@import "./node_modules/antd/dist/antd.css";


body {
    background: #191a38;
    color: white;
}

p {
    margin-top: 1em;
}

h3 {
    margin-top: 16px;
    margin-bottom: 6px;
    font-size: 18px;
    font-family: Roboto Condensed;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.8);
    line-height: 56px;
}

.ant-input {
    margin-top: 9px;
    margin-bottom: 10px;
    background: #202242;
    border: 1px solid #4d4e71;
    border-radius: 4px;
    margin-right: 5px;
    color: white;
}

.ant-input:hover {
    border: 1px solid #4d4e71;
}

.ant-input:focus {
    border: 1px solid #4d4e71;
}

.ant-input[disabled] {
    color: white;
}

.ant-select-disabled .ant-select-selection {
    background-color: #27293e !important;
}

.ant-input-disabled {
    background-color: #27293e !important;
}

.ant-input-disabled:hover {
    border: 1px solid #4d4e71 !important;
}

.ant-input-disabled:focus {
    border: 1px solid #4d4e71 !important;
}

.ant-select-selection {
    margin-top: 8px;
    margin-bottom: 8px;
    background: #202242;
    border: 1px solid #4d4e71;
    border-radius: 4px;
    color: white;
}

.ant-select-selection:hover {
    border: 1px solid #4d4e71;
}

.ant-select-selection:focus {
    box-shadow: none;
  }

.ant-select-dropdown {
    background: #161731;
}

.ant-select-dropdown-menu-item:hover {
    background: #303147;
  }

  .ant-select-dropdown-menu-item {
    background: #1A1B2C;
    color: white;
  }

.ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled),
.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
    background: #303147 !important;
}

.ant-btn {
    width: 300px;
    height: 40px;
    margin: 10px;
}

.anticon {
    color: white !important;
}

.anticon-loading {
    color: #1890ff !important;
}

.ant-btn-primary .anticon-loading {
    color: white !important;
}

.ant-input-suffix {
    color: white !important;
}

.leftLabel {
    text-align: right;
    
}
.leftLabel > .ant-row, .leftLabel > p {
    padding-right: 20px;
}